# Dependencies
node_modules

# Output folder
bin

# Logs
*.log

# Yarn lockfile. Use package-lock.json instead.
yarn.lock

# Test-related generated folders
coverage

# Miscellaneous
.DS_Store
Thumbs.db
.vscode
__create_probot_app__*
