# Dependencies
node_modules

# Output folder
bin

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log

# Yarn lockfile. Use package-lock.json instead.
yarn.lock

# Test-related generated folders
tmp
coverage

# Miscellaneous
.DS_Store
Thumbs.db
