# Dependencies
node_modules

# Output folder
bin

# Temoporary folder for testing
tmp

# Logs
*.log

# Yarn lockfile. Use package-lock.json instead.
yarn.lock

# Test-related generated folders
coverage

# Miscellaneous
.DS_Store
Thumbs.db
