name: Test

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize]

jobs:
  test_matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [10, 12, 14, 15]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - run: npm ci
      - run: npm run build
      # XXX: might be possible to parallelize each template test too, .e.g. `npm run test:template ${{ matrix.template }}`
      - run: npm run test

  # separate "test" job that we set as required in branch protection,
  # as the names of the matrix jobs change each frequently
  test:
    needs: test_matrix
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 15
      - run: npm install
      - run: npm run lint
